* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lexend Deca', sans-serif;
}

header .content-container {
	width: 720px;
	margin: 0 auto;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content-container {
	width: 720px;
	margin: 0 auto;
}

.logo p,
lang p {
	font-weight: 400;
}

.out-container {
	width: 95%;
	margin: 0 auto;
	position: relative;
}

.background-color {
	position: absolute;
	top: 0;
	background-color: #ff5656;
	height: 800px;
	width: 50%;
	z-index: -1;
	right: 0;
}

.first-section {
	height: 800px;
	width: 100%;
	position: relative;
}
.main__title {
	font-size: 120px;
	color: #232326;
	font-weight: 900;
	margin: 0 auto;
	position: absolute;
	top: 200px;
	left: 50%;
	transform: translateX(-50%);
}

.main__title span {
	color: #fff;
}

.menu {
	display: flex;
	width: 90px;
	height: 20px;
	justify-content: space-between;
	position: absolute;
	top: 45%;
	cursor: pointer;
}

.menu .icon {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.menu .icon div {
	background-color: #232326;
}

.menu .icon .top,
.down {
	width: 20px;
	height: 3px;
}

.menu .icon .middle {
	width: 30px;
	height: 3px;
}

.menu .btn__menu {
	font-weight: 400;
	font-size: 12px;
}

.information {
	height: 100%;
	margin-top: 90px;
}

.information .aboutMe .title p {
	font-size: 90px;
	font-weight: 800;
	color: #ff5656;
}

.info-section {
	margin-top: 140px;
}

.info-title {
	color: #232326;
	font-weight: 700;
	font-size: 36px;
}

.info-subtitle {
	font-size: 20px;
	font-weight: 200;
	margin-top: 20px;
}

.skills .skills-box .skill {
	padding: 10px 20px;
	background-color: #dddddd;
	display: flex;
	justify-content: center;
	margin-right: 12px;
	margin-top: 12px;
}

.skills-box {
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
}

.skills-box p {
	font-weight: 200;
}

.languages p {
	margin-top: 4px;
}

.languages .russian {
	margin-top: 20px;
}

.contacts {
	margin-top: 130px;
}

.contacts-info {
	font-weight: 200;
	font-size: 20px;
}

.review {
	margin-top: 130px;
}

.form {
	display: flex;
	flex-direction: column;
	height: 350px;
	justify-content: space-between;
	margin: 120px auto;
	align-items: center;
}

.form input,
textarea {
	color: #fff;
	width: 440px;
	outline: none;
	border: none;
	background-color: #37373a;
	font-family: 'Lexend Deca', sans-serif;
	font-weight: 400;
	font-size: 14px;
}

.form input {
	height: 40px;
	padding-left: 20px;
}

.form textarea {
	height: 190px;
	padding: 13px 20px;
}

.form button {
	width: 160px;
	height: 50px;
	background-color: #ff5656;
	outline: none;
	border: none;
	font-family: 'Lexend Deca', sans-serif;
	font-weight: 700;
	font-size: 15px;
	color: #fff;
}
